.ui/
.obj/
.moc/
.svn/
obsolete/
./Qt-AllLibs/
*.a
*.lst
*.pro.user*
*.swp
*.autosave
.qmake.stash
.build
qrc*cpp
afiedt.buf
fx
Makefile
rezepte
fahrzeuge
printers_wartung
analyzeKomm
analyzeZug
zugbuilder
d.sql
hp.lst
Lvsms/lvsms
Auslieferungszone/AZViewer/az_viewer
Auslieferungszone/AZVerwaltung/az_verwaltung
Auslieferungszone/AZVerwaltung/az_plakat
Auslieferungszone/AZVerwaltung/az_plan
Auslieferungszone/AZVerwaltung/*.pdf
Auslieferungszone/AZPlan/x
Auslieferungszone/AZPlan/*.pdf
Auslieferungszone/AZPlan/az_plan
Auslieferungszone/AZPlakat/az_plakat
Auslieferungszone/AZPlakat/*.pdf
Auslieferungszone/Filialzettel/az_filialzettel
Auslieferungszone/Filialzettel/*pdf
ascan_gui/ascan_gui
geraeteverwaltung
